html,
body,
#cover{
	height: 100%;
	width: 100%;
}

#cover{
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}




.cover-heading{
	font-family: 'Indie Flower', cursive;
	font-size: 78px;
	margin-bottom: 40px;
}

* {color: white;text-decoration: none;}
.one {
	background: url('http://res.cloudinary.com/dxssokt4h/image/upload/v1510575871/one_uj1ubs.jpg') center no-repeat;
	width: 500px;
	height: 600px;
	animation: change .5s infinite;
}

@keyframes change {
	0%,
	20% {
		background: url('http://res.cloudinary.com/dxssokt4h/image/upload/v1510575871/one_uj1ubs.jpg') center no-repeat;
	}
	21%,
	40% {
		background: url('http://res.cloudinary.com/dxssokt4h/image/upload/v1510575870/two_yjigkh.jpg') center no-repeat;
	}
	41%,
	60% {
		background: url('http://res.cloudinary.com/dxssokt4h/image/upload/v1510575871/three_dvhqjq.jpg') center no-repeat;
	}
	61%,
	80% {
		background: url('http://res.cloudinary.com/dxssokt4h/image/upload/v1510575870/two_yjigkh.jpg') center no-repeat;
	}
	80%,
	100% {
		background: url('http://res.cloudinary.com/dxssokt4h/image/upload/v1510575871/five_tuf8ob.jpg') center no-repeat;
	}
}

#article{
	text-shadow: 3px 2px 2px red;
	transition: 0.7s;
}
#article:hover{
	text-shadow: 3px 2px 4px red;
	transition: 0.7s;
}
#who:hover{
	text-shadow: 3px 2px 2px #798320;
	transition: 0.7s;
}
#first{
	margin-top: 14%;
}

ul {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin-top:4%;
	padding:0;
	display:flex;
}
ul li {
	list-style:none;
	margin:0 80px;
}
ul li a {
	position: relative;
	width: 90px;
	height: 90px;
	display: block;
	text-align: center;
	margin: 0 8px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
}
ul li a:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);

	text-decoration: none;
}

ul li a .fa{
	width:100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg, #fff, #ddd);
	color: #262626;
	border-radius: 50%;
	line-height: calc(90px - 12px);
	font-size: 40px;
}
ul li:nth-child(1) a:hover .fa {
	color: #00f;
}
ul li:nth-child(2) a:hover .fa {
	color: #00aced;
}
ul li:nth-child(3) a:hover .fa {
	color: #dd4b39;
}
ul li:nth-child(4) a:hover .fa {
	color: #007bb6;
}
ul li:nth-child(5) a:hover .fa {
	color: #bc2a8d;
}
.btn3d.btn-success {
	box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
	background-color:#78d739;
	font-size: 30px;
	font-family: 'Yatra One', cursive;
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
	box-shadow:0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
	background-color: #78d739;
}
.text-center{
	text-align: center;
}
.btn-primary{
	font-family: 'Walter Turncoat', cursive;

}
#ui{
	color: #ABEBC6;
}
#ui:hover{
	text-shadow: 2px 3px 2px silver;
	transition: 1s;
}
#automation{
	color: #ABEBC6
}
#automation:hover{
	text-shadow: 2px 3px 2px silver;
	transition: 1s;	
}
#soon{
	color: #ABEBC6
}
#soon:hover{
	text-shadow: 2px 3px 2px silver;
	transition: 1s;	
}
#mrq{
	font-family: 'Walter Turncoat', cursive;
	margin-top: 30%;
	font-size: 30px;
}
#art{

}
#art:hover{
	text-shadow: 2px 3px 2px brown;
	transition: 1s;
}
#cv{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.footer-bottom {
	padding: 30px 0 30px;
	border-top: 1px solid #666;
	background: #1e1e1e;
}
.copyright-text p {
	color: #ccc;
	margin-top: 9px;
	margin-bottom: 0;
}
#up:hover{
	transform: translate3d(0px, 12px, -12px);
	transition: 0.7s;
}

#down:hover{
	transform: translate3d(0px, -12px, 12px);
	transition: 0.7s;
}
#footer{
	border: 1px ;

	border-top-right-radius: 30px;
	border-top-left-radius:30px;
	text-shadow: 1px 1px 1px yellow;
}
#cv_ref{
	text-shadow: 3px 2px 2px red;
	transition: 0.7s;
}
#cv_ref:hover{
	text-shadow: 3px 2px 4px red;
	transition: 0.7s;	
}
#img_who:hover{

	width: 380px;
	transition: 0.7s;
}
#rich:hover{

	width: 320px;
	transition: 0.7s;
}
#found:hover{

	width: 320px;
	transition: 0.7s;
}
#space{
	margin-top: 15%;
}